In [3]:
!pip install missingno

Collecting missingno
  Downloading missingno-0.5.2-py3-none-any.whl (8.7 kB)
Requirement already satisfied: seaborn in /Users/mkhungar/anaconda3/envs/i2dl/lib/python3.10/site-packages (from missingno) (0.12.2)
Requirement already satisfied: matplotlib in /Users/mkhungar/anaconda3/envs/i2dl/lib/python3.10/site-packages (from missingno) (3.7.1)
Requirement already satisfied: scipy in /Users/mkhungar/anaconda3/envs/i2dl/lib/python3.10/site-packages (from missingno) (1.13.0)
Requirement already satisfied: numpy in /Users/mkhungar/anaconda3/envs/i2dl/lib/python3.10/site-packages (from missingno) (1.26.4)
Requirement already satisfied: pillow>=6.2.0 in /Users/mkhungar/anaconda3/envs/i2dl/lib/python3.10/site-packages (from matplotlib->missingno) (9.5.0)
Requirement already satisfied: python-dateutil>=2.7 in /Users/mkhungar/anaconda3/envs/i2dl/lib/python3.10/site-packages (from matplotlib->missingno) (2.8.2)
Requirement already satisfied: contourpy>=1.0.1 in /Users/mkhungar/anaconda3/envs/i2dl/lib/python3.10/site-packages (from matplotlib->missingno) (1.0.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/mkhungar/anaconda3/envs/i2dl/lib/python3.10/site-packages (from matplotlib->missingno) (1.4.4)
Requirement already satisfied: fonttools>=4.22.0 in /Users/mkhungar/anaconda3/envs/i2dl/lib/python3.10/site-packages (from matplotlib->missingno) (4.39.3)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/mkhungar/anaconda3/envs/i2dl/lib/python3.10/site-packages (from matplotlib->missingno) (3.0.9)
Requirement already satisfied: packaging>=20.0 in /Users/mkhungar/anaconda3/envs/i2dl/lib/python3.10/site-packages (from matplotlib->missingno) (23.1)
Requirement already satisfied: cycler>=0.10 in /Users/mkhungar/anaconda3/envs/i2dl/lib/python3.10/site-packages (from matplotlib->missingno) (0.11.0)
Requirement already satisfied: pandas>=0.25 in /Users/mkhungar/anaconda3/envs/i2dl/lib/python3.10/site-packages (from seaborn->missingno) (2.0.0)
Requirement already satisfied: pytz>=2020.1 in /Users/mkhungar/anaconda3/envs/i2dl/lib/python3.10/site-packages (from pandas>=0.25->seaborn->missingno) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /Users/mkhungar/anaconda3/envs/i2dl/lib/python3.10/site-packages (from pandas>=0.25->seaborn->missingno) (2023.3)
Requirement already satisfied: six>=1.5 in /Users/mkhungar/anaconda3/envs/i2dl/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib->missingno) (1.16.0)
Installing collected packages: missingno
Successfully installed missingno-0.5.2

In [5]:
# Import packages for calcs & visualisations
import numpy as np
import pandas as pd

import category_encoders as ce

# Data visualization
import seaborn as sns
import missingno
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

AttributeError: module 'numpy.linalg._umath_linalg' has no attribute '_ilp64'

In [9]:
movies = pd.read_csv('../ml-1m/movies.dat', sep="::" , header=None, names=["MovieID","Title","Genres"],engine='python', encoding='ISO-8859-1')
ratings = pd.read_csv("../ml-1m/ratings.dat" , sep='::', header=None, names =['UserID','MovieID','Rating','Timestamp'] , engine='python', encoding='ISO-8859-1')
users = pd.read_csv("../ml-1m/users.dat", sep='::' , header=None, names =['UserID','Gender','Age','Occupation','Zip-code'] , engine='python', encoding='ISO-8859-1')
# Merge the data across the 3 files
tmpDS = pd.merge(movies, ratings, on='MovieID')
finalDF = pd.merge(tmpDS, users, on='UserID')
finalDF.head(10)

,MovieID,Title,Genres,UserID,Rating,Timestamp,Gender,Age,Occupation,Zip-code
0,1,Toy Story (1995),Animation|Children's|Comedy,1,5,978824268,F,1,10,48067
1,48,Pocahontas (1995),Animation|Children's|Musical|Romance,1,5,978824351,F,1,10,48067
2,150,Apollo 13 (1995),Drama,1,5,978301777,F,1,10,48067
3,260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Fantasy|Sci-Fi,1,4,978300760,F,1,10,48067
4,527,Schindler's List (1993),Drama|War,1,5,978824195,F,1,10,48067
5,531,"Secret Garden, The (1993)",Children's|Drama,1,4,978302149,F,1,10,48067
6,588,Aladdin (1992),Animation|Children's|Comedy|Musical,1,4,978824268,F,1,10,48067
7,594,Snow White and the Seven Dwarfs (1937),Animation|Children's|Musical,1,4,978302268,F,1,10,48067
8,595,Beauty and the Beast (1991),Animation|Children's|Musical,1,5,978824268,F,1,10,48067
9,608,Fargo (1996),Crime|Drama|Thriller,1,4,978301398,F,1,10,48067

In [10]:
users.sample(10)

      UserID Gender  Age  Occupation Zip-code
1932    1933      M   18          19    94703
129      130      M   35          17    50021
3765    3766      F   18           1    45458
1089    1090      M   25           7    94105
2848    2849      M   45          11    94114
1595    1596      F   18           5    48108
1264    1265      F   18          20    49321
2148    2149      M   25           0    60089
3600    3601      F   35           3    95405
4966    4967      M   18           4    94708

In [13]:
movies.sample(10)

,MovieID,Title,Genres
777,787,"Gate of Heavenly Peace, The (1995)",Documentary
1186,1204,Lawrence of Arabia (1962),Adventure|War
1533,1573,Face/Off (1997),Action|Sci-Fi|Thriller
810,821,"Crude Oasis, The (1995)",Romance
578,582,Metisse (Café au Lait) (1993),Comedy
864,875,Nothing to Lose (1994),Drama
43,44,Mortal Kombat (1995),Action|Adventure
3127,3196,Stalag 17 (1953),Drama|War
1735,1795,"Callejón de los milagros, El (1995)",Drama
1058,1073,Willy Wonka and the Chocolate Factory (1971),Adventure|Children's|Comedy|Fantasy

In [14]:
ratings.sample(10)

        UserID  MovieID  Rating  Timestamp
424583    2575     1994       5  973905328
653383    3940     2267       4  965822497
396687    2348     3194       3  974504067
239836    1449     1687       3  976315644
985059    5952      471       4  957144803
840523    5049     1374       4  962500326
820532    4933      588       5  962757056
498741    3065      265       3  971048298
378669    2211     1674       4  974603156
948641    5728     2791       4  958468443